extends layout

block content
	script.
		$(document).ready(function() {
			// Convert absolute timestamps to "... ago" format
			$('.timestamp').each(function(i, obj) {
				this.innerHTML = moment(this.innerHTML).fromNow();
			});
		});

	if error
		p.error(align='center')= error

	if revisions.length
		table
			tr.heading
				td(width='25%')
				td(width='5%')
					p ID
				td(width='150px')
					p Relation
				td(width='10%')
					p User
				td
					p Message

			each revision in revisions
				tr.list
					td.label
						p
							| !{revision.time_stamp} &nbsp;
							| <span class='subdued timestamp'>!{revision.time_stamp}</span>

					td
						if revision.type == 'g'
							p g!{revision.id}
						else
							p r!{revision.id}

					td
						div.hide-overflow
							if revision.type == 'g'
								p <a class='normal' href='/game/!{revision.relation_id}'>!{revision.title}</a>
							else
								p <a class='normal' href='/game/!{revision.relation_id}' style='color: rgb(128,192,128);'>!{revision.title}</a>

					td
						p= revision.username
					td
						p= revision.message
