extends ../layout

block content
	script.
		const coloursRainbowFull = [
			'rgb(253,163,180)',
			'rgb(253,195,163)',
			'rgb(253,242,163)',
			'rgb(204,253,163)',
			'rgb(163,253,170)',
			'rgb(163,253,217)',
			'rgb(163,253,249)',
			'rgb(163,221,253)',
			'rgb(163,170,253)',
			'rgb(212,163,253)' ];

		$(document).ready(function() {
			$('.average-rating').each(function(i, obj) {
				$(this).css('color', coloursRainbowFull[Math.round($(this).text()) - 1]);
			});
		});

	if error
		p.error(align='center')= error

	table
		tr
			td(width='30%')
				p.heading
					| <a href="!{getSortUrl(url, 'title_english')}">
					|     English Title<span class='icon-sortable'>⥮</span>
					| </a> &nbsp;
					| <span class='subdued'>(official localizations are marked with ☑)</span>

			td
				p.heading
					| <a href="!{getSortUrl(url, 'title_jp')}">
					|     Japanese Title<span class='icon-sortable'>⥮</span>
					| </a> &nbsp;
					| <a href="!{getSortUrl(url, 'title_romaji')}">
					|     (Romaji Title<span class='icon-sortable'>⥮</span>)
					| </a>

			td(width='50px')
				p.heading
					| <a href="!{getSortUrl(url, 'rating_average')}">
					|     Average<span class='icon-sortable'>⥮</span>
					| </a>

			td(width='50px')
				p.heading
					| <a href="!{getSortUrl(url, 'ratings')}">
					|     Ratings<span class='icon-sortable'>⥮</span>
					| </a>

		each game in games
			tr.list
				td
					if game.title_english_official
						p <a href='/game/view/!{game.id}'>!{game.title_english} <span class='subdued'>☑</span></a>
					else
						p <a href='/game/view/!{game.id}'>!{game.title_english}</a>

				td
					if game.title_romaji
						p <a href='/game/view/!{game.id}'>!{game.title_jp} <span class='subdued'>(!{game.title_romaji})</span></a>
					else
						p <a href='/game/view/!{game.id}'>!{game.title_jp}</a>

				td
					p.average-rating= game.rating_average

				td
					p= game.ratings
