extends ../layout

block content
	if error
		p.error(align='center')= error

	table
		tr
			td(width='500px')
				p.heading English Title <span class='subdued'>(official localizations are marked with ☑)</span>

			td
				p.heading Japanese Title

		each game in games
			tr
				td.list
					if game.title_english_official
						p <a href='/game/view/!{game.id}'>!{game.title_english} <span class='subdued'>☑</span></a>
					else
						p <a href='/game/view/!{game.id}'>!{game.title_english}</a>

				td.list
					if game.title_romaji
						p <a href='/game/view/!{game.id}'>!{game.title_jp} <span class='subdued'>(!{game.title_romaji})</span></a>
					else
						p <a href='/game/view/!{game.id}'>!{game.title_jp}</a>
