extends ../layout

block content
	if error
		p.error(align='center')= error

	if editing
		div.darkened
			p(align='center') Editing game <a href='/game/view/!{form.id}'>#!{form.id}</a>

		hr

	if form
		//- This page also handles editing entries. The 'formAction' and 'editing' variables specify which operation to do
		form(action=formAction method='post')
			table.centered
				tr
					td(width='33.3%' style='height: 40px;')
						label(for='title-jp') Title (Japanese) <span class='subdued'>(at least one title is required)</span>
						input#title-jp(
							type='text'
							name='title_jp'
							value=form.title_jp
							maxlength='100'
							autocomplete='off' )

					td(width='33.4%')
						label(for='title-romaji') Title (Romaji)
						input#title-romaji(
							type='text'
							name='title_romaji'
							value=form.title_romaji
							maxlength='100'
							autocomplete='off' )

					td(rowspan='2')
						label(for='description') Description
						br
						textarea#description(name='description' maxlength='3000')= form.description

				tr
					td
						label(for='title-english') Title (English)
						input#title-english(
							type='text'
							name='title_english'
							value=form.title_english
							maxlength='100'
							autocomplete='off' )

						if form.title_english_official
							input#title-english-official(type='checkbox' name='title_english_official' checked)
						else
							input#title-english-official(type='checkbox' name='title_english_official')

						label(for='title-english-official' style='color: rgb(192,192,192);') This title is an official localization

					td
						label(for='title-other') Also known as <span class='subdued'>(comma-separated)</span>
						input#title-other(
							type='text'
							name='title_other'
							value=form.title_other
							maxlength='100'
							autocomplete='off')

				tr
					td(style='height: 40px;')
						label(for='website') Website <span class='subdued'>(original Japanese prefered)</span>
						input#website(
							type='text'
							name='website'
							value=form.website
							maxlength='100'
							autocomplete='off' )

					td
						label(for='vndb') VNDB page
						input#download(
							type='text'
							name='vndb'
							value=form.vndb
							maxlength='25'
							autocomplete='off')

					td(rowspan='2')
						label(for='screenshots') Screenshots <span class='subdued'>(one URL per line)</span>
						br
						textarea#screenshots(name='screenshots' maxlength='1000')= form.screenshots

				tr
					td
						label(for='download') Download link/page <span class='subdued'>(free games only)</span>
						input#download(
							type='text'
							name='download'
							value=form.download
							maxlength='200'
							autocomplete='off')

					td
						label(for='download_alt') Alternative download link/page
						input#download(
							type='text'
							name='download_alt'
							value=form.download_alt
							maxlength='200'
							autocomplete='off')

				tr
					td(colspan='3' align='center')
						if editing
							hr

							label(for='message') Revision message
							br
							textarea#message(name='message' maxlength='300')

						br
						input(type='submit' value='Submit')
