extends ../layout

block content
	script.
		$(document).ready(function() {
			// Convert absolute timestamps to "... ago" format
			$('.timestamp').each(function(i, obj) {
				this.innerHTML = moment(this.innerHTML).fromNow();
			});
		});

	if error
		p.error(align='center')= error

	if revisions.length
		if !all
			div.darkened
				p(align='center') Revisions for game <a href='/game/view/!{revisions[0].game_id}'>#!{revisions[0].game_id}</a>

		table
			tr.heading
				td(width='25%')
				td(width='5%')
					p ID

				if all
					td(width='150px')
						p Game

				td(width='10%')
					p User
				td
					p Message

			each revision in revisions
				tr.list
					td.label
						p
							| !{revision.time_stamp} &nbsp;
							| <span class='timestamp' style='color: rgba(128,255,255,.8);'>!{revision.time_stamp}</span>

					td
						p= revision.id

					if all
						td
							div.hide-overflow
								p <a class='normal' href='/game/view/!{revision.game_id}'>!{revision.title}</a>

					td
						p= revision.username
					td
						p= revision.message
