extends ../layout

block content
	script.
		$(document).ready(function() {
			// Update database when user changes their rating
			$('#rating-form').submit(function(e) {
				// Prevent the page from trying to change
				e.preventDefault();
				e.stopImmediatePropagation();

				// Temporarily disable the submit button
				$('#rating-submit').prop('disabled', true);

				$.ajax({
					type: 'POST',
					url: '/game/updateRating',
					data: $('#rating-form').serialize(),
					success: function(res) {
						if (res == 'success') {
							$('#rating-saved').show();
							$('#rating-saved').fadeOut(3000);
						}

						$('#rating-submit').prop('disabled', false);
					}
				});

				return false; // Not sure if this is needed
			});
		});

	if error
		p.error(align='center')= error

	else
		div(style='float: left; width: 80%;')
			div.main
				table
					tr
						td(width='50%')
							table
								if game.title_jp
									tr.list
										td.label(width='30%')
											p Japanese title
										td
											p !{game.title_jp}

								if game.title_romaji
									tr.list
										td.label
											p Japanese title (romaji)
										td
											p= game.title_romaji

								if game.title_english
									tr.list
										td.label
											p English title
										td
											p= game.title_english

									tr.list
										td.label
											p Officially localized title?
										td
											if game.title_english_official
												p Yes
											else
												p No

								if game.title_other
									tr.list
										td.label
											p Also known as
										td
											p= game.title_other

						td
							if game.title_jp
								h2.fancy= game.title_jp

							if game.title_romaji
								h3.fancy(style='position: relative; bottom: 8px;')
									| <span class='subdued'>(!{game.title_romaji})</span>

							if game.title_english
								h3.fancy(style='position: relative; bottom: 8px;')
									| !{game.title_english}

		if game.ss_urls.length
			div(style='float: right; width: 19.9%;')
				div.main
					each ss in game.ss_urls
						a(href=ss) <img src=!{ss} width='100%'>

		div(style='float: left; width: 80%;')
			h3.heading Ratings and Reviews

			div.main
					if user
						form#rating-form
							input(type='hidden' name='game_id' value=game.id)

							p Your rating: &nbsp;
								| <input type='number' name='user_rating' min='1' max='10' step='.1' value=!{game.user_rating}>
								| <span class='subdued'>/10</span> &nbsp;
								| <input id='rating-submit' type='submit' class='small' value='Save'> &nbsp;
								| <span id='rating-saved' class='gold' style='display: none;'>Saved!</span>
