extends ../layout

block content
	if error
		p.error(align='center')= error

	if form
		div.darkened
			if editing
				p(align='center') Editing release #!{form.id} (associated game is <a href='/game/view/!{gameId}'>#!{gameId}</a>)
			else
				p(align='center') Adding release for game <a href='/game/view/!{gameId}'>#!{gameId}</a>

		//- This page also handles editing entries. The 'formAction' and 'editing' variables specify which operation to do
		form(action=formAction method='post')
			input(type='hidden' name='game_id' value=gameId)

			table.centered
				tr
					td(width='33.3%')
						label(for='title') Title <span class='subdued'>(as presented for this specific release)</span>
						input#title(
							type='text'
							name='title'
							value=form.title
							maxlength='100'
							autocomplete='off' )

						select(name='language')
							each l in ['Japanese', 'English', 'French']
								if l == form.language
									option(value=l selected)= l
								else
									option(value=l)= l

					td(width='33.4%')
						label(for='release_date') Release date <span class='subdued'>(use x's if month/day unknown)</span>
						input#release_date(
							type='text'
							name='release_date'
							placeholder='YYYY-MM-DD'
							value=form.release_date
							maxlength='10'
							autocomplete='off' )

					td
						label(for='version') Version
						input#version(
							type='text'
							name='version'
							value=form.version
							maxlength='50'
							autocomplete='off' )

				tr
					td
					td
						label(for='download') Download <span class='subdued'>(or purchase)</span> page/link
						input#download(
							type='text'
							name='download'
							value=form.download
							maxlength='200'
							autocomplete='off' )

					td
						label(for='info-link') Info link <span class='subdued'>(e.g. translator's page)</span>
						input#info-link(
							type='text'
							name='info_link'
							value=form.info_link
							maxlength='200'
							autocomplete='off' )

				tr
					td(colspan='3' align='center')
						if editing
							hr

							label(for='message') Revision message
							br
							textarea#message(name='message' maxlength='300')

						br
						input(type='submit' value='Submit')
